@model IEnumerable<BookingSystem.Models.Properties>

<h2>Liste des Propriétés</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Price</th>
            <th>Type</th>
            <th>Guest number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Town, @p.Country</td>
                <td>@p.Price</td>
                <td>@p.Type</td>
                <td>@p.GuestNbr</td>
            </tr>
        }
    </tbody>
</table>
