@model BookingSystem.Models.ViewModels.PropertiesSearchViewModel

@{
    ViewData["Title"] = "Accueil";
}

<form asp-action="Index" method="post">
    <div>
        <div>
            <input asp-for="Town" placeholder="City" />
        </div>
        <div>
            <input asp-for="Country" placeholder="Country" />
        </div>
        <div>
            <input asp-for="GuestNbr" placeholder="Guest" />
        </div>
        <div>
            <select asp-for="Type" class="form-select" asp-items="Html.GetEnumSelectList<BookingSystem.Models.PropertiesType>()" placeholder="Type">
                <option value="">Type</option>
            </select>
        </div>
        <div>
            <button type="submit" >Search</button>
        </div>
    </div>
</form>

@if(Model.Results.Any())
{
    @foreach(var p in Model.Results)
    {
        <div>
            <div>@if(!string.IsNullOrWhiteSpace(p.Photo))
                {
                    <img src="@p.Photo" alt="photo"/>
                }else{
                    <span>No Photo</span>
                }
            </div>
            <div>@p.Title</div>
            <div>@p.Town, @p.Country</div>
            <div>@p.Description</div>
            <span>@p.Price € / Day </span>
            <span> Max guests : @p.GuestNbr </span>
        </div>
    }
}
else
{
    <p>No propriety match !</p>
}